@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body  {
    font-family: "Poppins";
    background-color: #faf9f6;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container_lista {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.lista {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.lista li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: #595959;
    border-radius: 12px;
    transition: .4s;
}

.lista li:hover {
    margin: 15px 0 5px;
    transform: translateY(-5px);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 22px;
    text-decoration: none;
    color: white;
}